@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Oswald";
}

header {
    background-color: #191919;
}

svg {
    vertical-align: unset;
}

nav {
    min-height: 10vh;
}

nav>div>svg {
    width: 30px;
    height: 20px;
    transform: rotateZ(13deg);
    cursor: pointer;
}

nav a.nav-link:hover {
    color: #28A745 !important;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.jumbotron {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.35647762522977944) 0%, rgba(0, 0, 0, 1) 100%), url("https://images.unsplash.com/photo-1471614654469-512ee6a4397a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    min-height: 90vh;
    background-size: cover;
    animation: fadein 1s;
}

.jumbotron h1 {
    font-size: 4.5rem;
}

h1 svg,
span svg {
    width: 30px;
    height: 30px;
}

#top-album {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.35647762522977944) 0%, rgba(0, 0, 0, 1) 100%), url("https://static.dw.com/image/63920593_303.jpg");
    background-size: cover;
    min-height: 80vh;
}

#top-album>div>div>div {
    background-color: #19191996;
}

#top-album h1 {
    font-size: 110px;
}

#top-album h2 {
    font-size: 70px;
}

.stars svg {
    width: 30px;
    height: 30px;
    color: #FFC107;
}

section.favourite-artist {
    background-color: #f8f7ff;
}

footer {
    background-color: #f8f7ff;
}

.album {
    position: relative;
}

.overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.36207986612613796) 0%, rgba(0, 0, 0, 0.6646008745294993) 65%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 70%;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-info {
    position: absolute;
    right: 0;
    bottom: 20%;
    left: 0;
}

.album-info {
    font-size: 1.5rem;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    border: none;
    border-radius: 0;
}

#albums .card {
    position: relative;
}

#albums .card .genre-badge {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 80px;
    background-color: #28a746da;
    color: #191919;
    border-radius: 10px;
}

#albums .card .genre-badge p {
    margin: 0;
    padding: 3px 10px;
    font-size: 12px;
}

.tracklist-btn {
    transition: all 0.5s;
}

.tracklist-btn:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 20px 31px -4px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 10px 13px -7px #000000, 0px 20px 31px -4px rgba(0, 0, 0, 0.66);
    transform: translateZ(-5px);
}


#tracklist tbody button {
    opacity: 0;
    transition: opacity 0.55s ease-in-out;
}

#tracklist tbody tr:hover button {
    opacity: 1.0;
    transition: opacity 0.55s ease-in-out;
}